$small: 768px;
$color: purple;

$dark-base-dark-grey: rgba(18, 18, 18, .88);
$dark-hover: rgba(18, 18, 18, .80);
$dark-darker-dark-grey: #121212;
$dark-text-color: #FFFFFF;
$dark-text-hover-color: rgba(255, 255, 255, 0.7);
$dark-overlay: #1F1B24;

$primary-highlight: #3f50b5;
$secondary-highlight: #002884;

$primary-text-color: #000000;
$primary-text-hover-color: #484848;
$primary-base: #FFFFFF;

$standard-transition: transform 0.3s ease-in-out;
