$small: 768px;

$dark-base-dark-grey: #1e1e1e;
$dark-darker-dark-grey: #121212;
$dark-text-color: #FFFFFF;

$dark-text-filter: invert(92%) sepia(92%) saturate(32%) hue-rotate(102deg) brightness(109%) contrast(108%);
$dark-text-hover-color: #b8b8b8;

$dark-text-hover-filter: invert(82%) sepia(0%) saturate(127%) hue-rotate(179deg) brightness(94%) contrast(82%);
$dark-overlay: #1F1B24;
$dark-sidebar-background: #2a2a2a; 

$primary-highlight: #3f50b5;
$secondary-highlight: #002884;

$primary-text-color: #000000;
$primary-text-filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(288deg) brightness(96%) contrast(105%);

$primary-text-hover-color: #484848;
$primary-text-hover-filter: invert(27%) sepia(0%) saturate(0%) hue-rotate(185deg) brightness(91%) contrast(87%);
$primary-base: #FFFFFF;
$primary-sidebar-background: #E8EAF6;

$standard-transition: transform 0.3s ease-in-out;
$nav-animate: all 0.2s ease-in-out;

@mixin underline() {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 4px;
    margin: 4px 0 0;
    transition: $nav-animate;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: $primary-highlight;
    left: 0;
}

@mixin show-underline() {
    width: 100%;
    opacity: 1;
}
